:root {
    --header-color: #30C5BE;
    --headings-color: #F5C8A3;
    --base-color: rgb(238, 238, 238);
    --base-color-primary: #fff;
    --gray-color-light: rgb(202, 202, 202);
    --gray-color-dark: #000000;
    --button-primary-color: rgb(56, 151, 163);
    --button-secondary-color: grey;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: cursive;
}

header {
    background: var(--header-color);
    display: flex-end;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 19px -5px var(--gray-color-dark);
    /* font-family: cursive; */
}
/* H1 booksearch styles */

h1 {
    color: var(--headings-color);
    padding-left: 30px;
    text-shadow: 0 0 5px yellow,
                 0 0 10px yellow;
}

nav a{
    color: var(--base-color);
    font-size: 18px;;
    transition: .25s;
    font-weight: bold;
}


/* Off-canvas button toggle */
button[data-toggle="offCanvas"] {
    float: right;
    border-radius: 10px;
    background-color: #30c5be69;
    font-size: 18px;;
    transition: .25s;
    font-weight: bold;
    margin: 1px 1px 1rem 1;
}

.off-canvas {
    /* background-color:rgba(56, 150, 163, 0.849); */
    background-color:rgb(56, 150, 163);

    /* background-color: rgb(7, 30, 34); */
}

#favorites {
    /* border-left: 1px solid black; */
    height: 100vh;
}

#favorites h2 {
    font-size: 30px;
    padding: 10px;
    color: #F5C8A3;
}

/* About us */
.results-section {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

/* bestseller */
.bestseller {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
    width: 60%;
    /* font-family: cursive; */
}

h2 {
    font-family: cursive;
    font-size: 32px;
} 
/* search */
.search_books {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

#previous-searches {
    width: 50%;
    position: relative;
    float: right;
    background-image: url('../images/crumpled-white-paper-background_88281-3998.jpg');
}

#previous-searches button {
    margin-bottom: 10px;
}

.search_books {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

p {
    font-size: 20px;
}

.search_books div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-family: cursive; */
}

.search_books input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-color-light);
}

.search_books textarea {
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-color-light);
}

.search-btn {
    padding: 10px 20px;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--button-secondary-color);
}

.clear {
    padding: 10px 20px;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.clear:hover {
    background-color: var(--button-secondary-color);
}

#wrapper {
    display: inline;
}

/* Results stylings */
#results-section li {
    list-style: none;
}

#list-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#list-results .card {
    background-color: #30c5be69;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    height: 300px;
    padding: 15px;
    position: relative;
}

#list-results img {
    height: 270px;
    width: 105%;
}

.label {
    position: absolute;
    width: 50%;
}


.label:hover {
    background-color: yellow;
    cursor: pointer;
    
}

li {
    font-size: 15px;
    font-weight: bold;
    padding: 20px;
}
/* Media queries styles */
@media only screen and (min-width: 768px) {
    header {
        padding: 20px;
    }
    .about-us {
        width: 60%;
    }
    .search-books input {
        width: 450px;
    }
    .search-books textarea {
        width: 450px;
    }
    @media only screen and (max-width: 1024px) {
        .bestseller {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 640px) {
    h1 {
        font-size: 40px;
    }
    .nav-links {
        display: flex;
        justify-content: flex-end;
    }
}

/* favorite section html */

.fav_books {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fav_books {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.fav_books div {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.goback-btn {
    padding: 10px 20px;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.goback-btn:hover {
    background-color: var(--button-secondary-color);
}

.clear {
    padding: 10px 20px;
    color: var(--base-color);
    background-color: var(--button-primary-color);
    border: 2px solid var(--button-secondary-color);
    border-radius: 5px;
    cursor: pointer;
}

.clear:hover {
    background-color: var(--button-secondary-color);
}

#wrapper {
    display: inline;
}

#best-seller-list-results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#best-seller-list-results .card {
    background-color: #30c5be69;
    border-radius: 10px;
    margin: 20px;
    width: 200px;
    height: 300px;
    padding: 15px;
    position: relative;
}

label {
    font-size: 20px;
}

#best-seller-list-results img {
    height: 270px;
    width: 105%;
}

#previous-searches {
    border-style: outset;
    border-color: #30C5BE;
    margin-left: 30px;
}

#previous-searches h4{
    font-family: cursive;
}
